<!--Labs section-->
<div class="col d-flex flex-column flex-shrink-0 bg-light">

    <!--Vertical Tool bar-->
    <div
        class="m-0 p-0 bg-white d-flex justify-content-between align-items-center border-bottom w-100"
        style="min-height: 72px"
    >

        <!--Left Side Tools-->

        <!--Sort from low to high button-->
        <div class="d-flex flex-row">
	    <div class="h-100 mx-1 d-inline-block d-flex">
		<button
		    class="btn btn-vtools"
			   type="button"
			   id="dropdownSortDown"
			   data-bs-toggle="dropdown"
			   aria-expanded="false"
			   data-bs-placement="left"
			   title="Sort A-Z 1-9"
		>
		    <svg class="bi" width="16" height="16">
			<use xlink:href="#sort-alpha-down"></use>
		    </svg>
		</button>
		<!--Sort Drop down menue-->
		<ul class="dropdown-menu" aria-labelledby="dropdownSortDown">
		    <li><a class="dropdown-item" href="#">Index</a></li>
		    <li><a class="dropdown-item" href="#">Subject</a></li>
		    <li><a class="dropdown-item" href="#">Cat Nbr</a></li>
		    <li><a class="dropdown-item" href="#">Class Nbr</a></li>
		    <li><a class="dropdown-item" href="#">Class Nbr</a></li>
		    <li><a class="dropdown-item" href="#">End Time</a></li>
		    <li><a class="dropdown-item" href="#">Days</a></li>
		    <li><a class="dropdown-item" href="#">Instrucior</a></li>
		    <li><a class="dropdown-item" href="#">Assigned GTA</a></li>
		</ul>
	    </div>

	    <!--Sorf from high to low button-->
	    <div class="h-100 mx-1 d-inline-block d-flex">
		<button
		    class="btn btn-vtools"
			   type="button"
			   id="dropdownSortUp"
			   data-bs-toggle="dropdown"
			   aria-expanded="false"
			   data-bs-placement="left"
			   title="Sort Z-A 9-1"
		>
		    <svg class="bi" width="16" height="16">
			<use xlink:href="#sort-alpha-up"></use>
		    </svg>
		</button>
		<!--Sort Drop down menue-->
		<ul class="dropdown-menu" aria-labelledby="dropdownSortUp">
		    <li><a class="dropdown-item" href="#">Index</a></li>
		    <li><a class="dropdown-item" href="#">Subject</a></li>
		    <li><a class="dropdown-item" href="#">Cat Nbr</a></li>
		    <li><a class="dropdown-item" href="#">Class Nbr</a></li>
		    <li><a class="dropdown-item" href="#">Class Nbr</a></li>
		    <li><a class="dropdown-item" href="#">End Time</a></li>
		    <li><a class="dropdown-item" href="#">Days</a></li>
		    <li><a class="dropdown-item" href="#">Instructor</a></li>
		    <li><a class="dropdown-item" href="#">Assigned GTA</a></li>
		</ul>
	    </div>
        </div>

        <!--Lab Title-->
        <div class="d-flex flex-row">
	    <span class="fs-5 ms-5 px-1"><strong>{{ current_semester.time }}{{ current_semester.year }}</strong></span>
        </div>

        <!--Right Side tools-->
        <div class="d-flex flex-row px-2">
	    <!--Recent Semesters selector-->
	    <!--Display a short selections of 5 most recent semesters-->
	    <button
		class="btn btn-vtools"
		type="button"
		id="dropdownSemester"
		data-bs-toggle="dropdown"
		aria-expanded="false"
		data-bs-placement="left"
		title="Recent semesters"
	    >
		<svg class="bi" width="16" height="16">
		    <use xlink:href="#semester"></use>
		</svg>
	    </button>
	    <!--Semeter Drop down menu-->
	    <ul class="dropdown-menu" aria-labelledby="dropdownSemester">
		<li><a class="dropdown-item" href="#">2022 Summer</a></li>
		<li><a class="dropdown-item" href="#">2022 Fall</a></li>
		<li><a class="dropdown-item" href="#">2021 Winer</a></li>
		<li><a class="dropdown-item" href="#">2021 Fall</a></li>
		<li><a class="dropdown-item" href="#">2021 Summer</a></li>
	    </ul>

	    <!--Filter-->
	    <form class="container-fluid">
		<div class="input-group">
		    <span class="input-group-text bg-white">
			<svg class="bi" width="16" height="16">
			    <use xlink:href="#filter"></use>
			</svg>
		    </span>
		    <input
			class="form-control me-2"
			       type="search"
			       placeholder="Type to filter..."
			       aria-label="filter"
		    />
		</div>
	    </form>
        </div>
    </div>

    <!--Table of Lab list-->
    <div class="overflow-auto">
        <table
	    class="table table-hover table-bordered text-center align-middle overflow-auto"
        >
	    <thead>
		<tr>
		    <!--Table headers-->
		    <th scope="col">#</th>
		    <th scope="col">Subject</th>
		    <th scope="col">Catalog ID</th>
		    <th scope="col">Section</th>
		    <th scope="col">Course ID</th>
		    <th scope="col">Start Time</th>
		    <th scope="col">End Time</th>
		    <th scope="col">Days</th>
		    <th scope="col">Instructor</th>
		    <th scope="col">TA</th>
		    <th scope="col">Switch</th>
		</tr>
	    </thead>
	    {% if labs %}
	    <tbody>
		{% for lab in labs %}
		<tr>
		    <!--Table rows-->
		    <th scope="row">{{ forloop.counter }}</th>
		    <td>{{ lab.subject }}</td>
		    <td>{{ lab.catalog_id }}</td>
		    <td>{{ lab.section }}</td>
		    <td>{{ lab.course_id }}</td>
		    <td>{{ lab.start_time }}</td>
		    <td>{{ lab.end_time }}</td>
		    <td>{{ lab.get_days }}</td>
		    <td>{{ lab.instructor }}</td>
		    <td>
			<!--More info button-->
			<div class="d-grid">
			    <button
				type="button"
				class="btn btn-outline-dark border-0"
				data-bs-toggle="popover"
				data-bs-placement="left"
				title="Email: lol@lol.com"
				data-bs-content="Score: 20"
			    >
				{{ lab.assigned_ta }}
			    </button>
			</div>
		    </td>
		    <td>
			<!--Run switch button-->
			<div class="d-grid">
			    <button
				type="button"
				class="btn btn-outline-dark border-0"
				type="button"
				class="btn btn-outline-dark border-0"
				data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasOperations"
				aria-controls="offcanvasOperations"
			    >
				<svg class="bi" width="16" height="16">
				    <use xlink:href="#operation"></use>
				</svg>
			    </button>
			</div>
		    </td>
		</tr>
		{% endfor %}

	    </tbody>
	    {% else %}
	    <strong>No labs to display!</strong>
	    {% endif %}
        </table>

    </div>
</div>
