<div class="border bg-light mt-3"><h5>Change History</h5></div>
<div class="list-group mx-0 overflow-auto h-60 bg-white" style = "height:150px">
    
    <a class="list-group-item list-group-item-action d-flex justify-content-start gap-3 py-3" aria-current="True">
	<!--*CODE*Redo button-->
	<button type="button" class="btn btn-outline-secondary btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
	    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
	    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
	</svg></button>
	<!--*CODE*Change history description-->
	<div class="text-center d-flex p-2">Marisa --> Mike</div>
    </a>
    
    
</div>
