<!--Switch Operations Off Canvas-->
<div
    class="offcanvas offcanvas-end"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasOperations"
    aria-labelledby="offcanvasOperations"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasHistory">Switch Options</h5>
        <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <!--Operation select link to the new table-->
            <a href="#" class="list-group-item list-group-item-action score5">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">5</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action score4">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">4</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action score3">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">3</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action score2">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">2</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action score1">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">1</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
        </div>
    </div>
</div>
