<!--Switch Operations Off Canvas-->
<div
    class="offcanvas offcanvas-end"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasOperations"
    aria-labelledby="offcanvasOperations"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasHistory">Switch Options</h5>
        <button
            type="button"
            class="btn-close text-reset close-switches"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            title="See switch Options"
        ></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group" id="switches-list">
        </div>
    </div>
</div>
