{% load static %}

<!doctype html>
<html lang="en">
    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'global/bootstrap.min.css' %}">

    <title>
      {% block title %}
      QuickSched
      {% endblock %}
    </title>

    {% load static %}
    <link rel="icon" href="{% static 'authentication/Magisters.svg' %}">
    
  </head>
  <body class="text-center">

    {% block content %}

    {% endblock %}

    <!--Bootstrap set up -->
    <script src="{% static 'global/quicksched_javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'global/quicksched_javascript/popper.min.js' %}"></script>
  </body>
</html>
