{% load static %}

<!doctype html>
<html lang="en">
    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'global/bootstrap.min.css' %}">

    <title>
      {% block title %}
      QuickSched: Lab Organizer
      {% endblock %}
    </title>

    {% load static %}
    <link rel="icon" href="{% static 'laborganizer/Magisters.svg' %}">
    
  </head>
  <body class="text-center">

    <!--Navbar codes -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
	<a class="navbar-brand" href="{% url 'lo_home' %}">
          <img src="{% static 'global/Magisters.svg' %}" alt="image not found!" width="60" height="60">
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item">
	      <a class="nav-link active" aria-current="page" href="{% url 'lo_home' %}">Home</a>
            </li>

            <!-- <li class="nav-item"> -->
	      <!-- 	<\!--*CODE*href = Schedule Manage page addrees-\-> -->
		<!-- 	<a class="nav-link" href="#">Schedule Manage</a> -->
		<!-- </li> -->

            <li class="nav-item">
	      <a class="nav-link" href="{% url 'lo_ta_management' %}">TA Management</a>
            </li>

            <li class="nav-item">
	      <!--*CODE*href = Semester page addrees-->
	      <a class="nav-link" href="{% url 'lo_semester' %}">Semesters</a>
            </li>

            <li class="nav-item">
	      <!--*CODE*href = Semester page addrees-->
	      <a class="nav-link" href="/admin">Admin</a>
            </li>
	    
            <li class="nav-item">
	      <!--*CODE*href = Semester page addrees-->
	      <a class='nav-link' href="/sign_out">Sign Out</a>
            </li>	      

          </ul>
	</div>
      </div>
    </nav>

    {% include 'laborganizer/message.html' %}
    
    {% block content %}
    
    {% endblock %}
    
    <!--Bootstrap set up -->
    <script src="{% static 'global/quicksched_javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'global/quicksched_javascript/popper.min.js' %}"></script>
  </body>
</html>
