{% load static %}

<!doctype html>
<html lang="en">
    <head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'global/bootstrap.min.css' %}">

	<title>
	    {% block title %}
	    QuickSched: Lab Organizer
	    {% endblock %}
	</title>

	{% load static %}
	<link rel="icon" href="{% static 'laborganizer/Magisters.svg' %}">
	
    </head>
    
    <body class="text-center">

	{% include 'laborganizer/svg_icons.html' %}
	    
	{% block content %}
	    
	{% endblock %}

	<!--Bootstrap set up -->
	<script src="{% static 'global/quicksched_javascript/bootstrap.min.js' %}"></script>
	<script src="{% static 'global/quicksched_javascript/spinners.js' %}"></script>	
	<script src="{% static 'global/quicksched_javascript/popper.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static 'laborganizer/ajax.js' %}"></script>
	<script src="{% static 'laborganizer/contract_status.js' %}"></script>
	<script src="{% static 'laborganizer/count_elements.js' %}"></script>
    </body>
</html>
