<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LO Dashboard</title>
    </head>
    {% if user.is_superuser %}
  <body>
    <h4>Hello {{user.username}}, you're successfully logged in as administrator.</h4>
    <button type="submit"><a href="/signout">SignOut</a></button>
    <button type="submit"><a href="/admin">Manage Users</a></button>
    <h4>If you want to recruit more users, please upload a CSV file of all emails to create accounts for.</h4>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="document">
      <button type="submit">Recruit TA's</button>
      </form>
    </body>
  {% else %}
    <h4>You must be an administrator to access this page.</h4>
    <button type="submit"><a href="/signin">SignIn</a></button>
  {% endif %}
  </html>
