{% extends 'laborganizer/base.html' %}
{% block title %}QuickSched: Dashboard{% endblock %}
{% load static %}

{% block content %}

<!-- Bootstrap and  CSS -->
<link rel="stylesheet" href="{% static 'laborganizer/dashboard.css' %}" />

<!-- Main content  -->
<main>
    
    {% include 'laborganizer/sidebar.html' %}
    {% include 'laborganizer/dash-components/dash-current-semester-labs.html' %}

</main>

<!--Pop up windows codes-->
{% include 'laborganizer/dash-components/dash-ta-selection.html' %}
{% include 'laborganizer/dash-components/dash-history.html' %}
{% include 'laborganizer/dash-components/dash-semester.html' %}
{% include 'laborganizer/dash-components/dash-switch.html' %}

<!--Bootstrap set up -->
<script src="{% static 'laborganizer/dashboard.js' %}"></script>

{% endblock %}
