{% extends 'laborganizer/base.html' %}
{% block title %}QuickSched: Dashboard{% endblock %}
{% load static %}

{% block content %}

<!-- Bootstrap and  CSS -->
<link rel="stylesheet" href="{% static 'laborganizer/dashboard.css' %}" />

<main>
    
    {% include 'laborganizer/sidebar.html' %}
    {% include 'laborganizer/dash-components/dash-current-semester-labs.html' %}

</main>

<!--Pop up windoos codes-->
<!--TA selector Offcnavens-->
<div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasTASelector"
    aria-labelledby="offcanvasTASelector"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTASelector">TA Selector</h5>
        <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <!--Body of this offcanves-->
    <div class="offcanvas-body">
        <!-- TA lists Collapsed-->
        <div class="accordion accordion-flush" id="accordionTAselector">
            <!--Uncontract TAs-->
            <div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingUncontractTA">
		    <button
			class="accordion-button collapsed"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#flush-UncontractTA"
			aria-expanded="false"
			aria-controls="flush-UncontractTA"
		    >
			Uncontract TA
		    </button>
		</h2>
		<div
		    id="flush-UncontractTA"
		    class="accordion-collapse collapse"
		    aria-labelledby="flush-headingUncontractTA"
		    data-bs-parent="#accordionTAselector"
		>
		    <div class="accordion-body px-2 pt-1 pb-3">
			<!--Uncontract TA list-->
			<ul class="list-group list-group-flush">
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="UC_TA_01"
				    />
				    <label class="form-check-label w-100" for="UC_TA_01">
					James
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="UC_TA_02"
				    />
				    <label class="form-check-label w-100" for="UC_TA_02">
					June
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="UC_TA_03"
				    />
				    <label class="form-check-label w-100" for="UC_TA_03">
					Jim
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="UC_TA_04"
				    />
				    <label class="form-check-label w-100" for="UC_TA_04">
					Kalye
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="UC_TA_05"
				    />
				    <label class="form-check-label w-100" for="UC_TA_05">
					Kate
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="UC_TA_06"
				    />
				    <label class="form-check-label w-100" for="UC_TA_06">
					Luna
				    </label>
				</div>
			    </li>
			</ul>
		    </div>
		</div>
            </div>
            <!--Contract TAs-->
            <div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingContractTA">
		    <button
			class="accordion-button collapsed"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#flush-ContractTA"
			aria-expanded="false"
			aria-controls="flush-ContractTA"
		    >
			Contract TA
		    </button>
		</h2>
		<div
		    id="flush-ContractTA"
		    class="accordion-collapse collapse"
		    aria-labelledby="flush-headingContractTA"
		    data-bs-parent="#accordionTAselector"
		>
		    <!-- TA lists Collapsed-->
		    <div class="accordion-body px-2 pt-1 pb-3">
			<!--Contract TA list-->
			<ul class="list-group list-group-flush">
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="C_TA_01"
					checked
				    />
				    <label class="form-check-label w-100" for="C_TA_01">
					Alex
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="C_TA_02"
					checked
				    />
				    <label class="form-check-label w-100" for="C_TA_02">
					Abby
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="C_TA_03"
					checked
				    />
				    <label class="form-check-label w-100" for="C_TA_03">
					Art
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="C_TA_04"
					checked
				    />
				    <label class="form-check-label w-100" for="C_TA_04">
					Bill
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="C_TA_05"
					checked
				    />
				    <label class="form-check-label w-100" for="C_TA_05">
					Cassy
				    </label>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="form-check">
				    <input
					class="form-check-input"
					type="checkbox"
					value=""
					id="C_TA_06"
					checked
				    />
				    <label class="form-check-label w-100" for="C_TA_06">
					Cannon
				    </label>
				</div>
			    </li>
			</ul>
		    </div>
		</div>
            </div>
        </div>
    </div>
</div>
<!--History Offcanves-->
<div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasHistory"
    aria-labelledby="offcanvasHistory"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasHistory">
            History of Changes
        </h5>
        <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <li class="list-group-item container">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">5</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		    <!--Redo button-->
		    <div class="col-2">
			<button type="button" class="btn btn-outline-secondary py-2">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#redo"></use>
			    </svg>
			</button>
		    </div>
		</div>
            </li>
        </ul>
    </div>
</div>
<!--Semester  Offcanves-->
<div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasSemester"
    aria-labelledby="offcanvasSemester"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasHistory">Semester Picker</h5>
        <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <div class="d-flex flex-column align-items-center text-center p-3">
            <!--Year select-->
            <span class="fs-5 m-2">Year</span>
            <select class="form-select" aria-label="Year select">
		<option selected>2022</option>
		<option value="1">2021</option>
		<option value="2">2020</option>
		<option value="3">2019</option>
            </select>
            <!--Section select-->
            <span class="fs-5 m-2">Time</span>
            <select class="form-select" aria-label="Time select">
		<option selected>Spring</option>
		<option value="1">Summer</option>
		<option value="2">Fall</option>
		<option value="3">Winter</option>
            </select>
            <!--Submit buttn-->
            <div class="d-grid w-100 m-4">
		<button class="btn btn-primary">Select</button>
            </div>
        </div>
    </div>
</div>
<!--Switch Operations Offcanves-->
<div
    class="offcanvas offcanvas-end"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasOperations"
    aria-labelledby="offcanvasOperations"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasHistory">Switch Options</h5>
        <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group">
            <!--Operation select link to the new table-->
            <a href="#" class="list-group-item list-group-item-action score5">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">5</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action score4">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">4</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action score3">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">3</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action score2">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">2</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action score1">
		<div class="row align-items-center">
		    <div class="col-1">
			<h1 class="ms-2 d-flex justify-content-center">1</h1>
		    </div>
		    <div class="col">
			<!--Change history description-->
			<!--Firset TA name and lab-->
			<div class="d-flex justify-content-center p-2">
			    Marisa (CS 122-02)
			</div>
			<!--Switch icon-->
			<div class="d-flex justify-content-center">
			    <svg class="bi" width="16" height="16">
				<use xlink:href="#switch"></use>
			    </svg>
			</div>
			<div class="d-flex justify-content-center p-2">
			    Jam (CS 249-01)
			</div>
		    </div>
		</div>
            </a>
        </div>
    </div>
</div>

<!--Bootstrap set up -->
<script src="{% static 'laborganizer/dashboard.js' %}"></script>

{% endblock %}
