{% extends 'laborganizer/base.html' %}
{% block title %}QuickSched: Dashboard{% endblock %}
{% load static %}

{% block content %}

<!-- Custom CSS -->
<link href="{% static 'laborganizer/dashboard.css' %}" rel="stylesheet">

<!--Main page-->
<main class="container-fluid container-lg">
  <div class="row">

    <!--Left TA selection side-->
    <div class="col-2">
      <div class="border bg-light"><h5>Contracted TAs</h5></div>
      <div class="list-group overflow-auto h-60 bg-white" style = "height:280px">

        <!--Example of a TA selection-->
	{% if tas %}
	{% for ta in tas %}
	{% if ta.contracted %}
        <a class="list-group-item list-group-item-action d-flex py-3" aria-current="True">
	  <div class="form-check">
	    <!--*CODE* HTML value tag(for check box)-->
            <input class="form-check-input" type="checkbox" value="" id="TA_ID">
            <!--*CODE* TA's name-->
            <label class="form-check-label" for="TA_ID">{{ ta.first_name }} {{ ta.last_name }}</label>
	  </div>
        </a>
	{% endif %}
	{% endfor %}
	{% else %}
	No Contracted TA's!
	{% endif %}
        <!--end of contracted TAs-->
      </div>

      <div class="border bg-light"><h5>Uncontracted TAs</h5></div>
      <div class="list-group overflow-auto h-60 bg-white" style="height:280px">

        <!--Example of a TA selection-->
	{% if tas %}
	{% for ta in tas %}
	{% if not ta.contracted %}
        <a class="list-group-item list-group-item-action d-flex py-3" aria-current="True">
	  <div class="form-check">
	    <!--*CODE* HTML value tag(for check box)-->
	    <input class="form-check-input" type="checkbox" value="" id="TA_ID">
	    <!--*CODE* TA's name-->
	    <label class="form-check-label" for="TA_ID">{{ ta.first_name }} {{ ta.last_name }}</label>
	  </div>
        </a>

	{% endif %}
	{% endfor %}
	{% else %}
	No Uncontracted TA's!
	{% endif %}
      </div>	
      <!--end of Uncontracted TAs-->
    </div>

    <!--Current Semester Labs-->
    <div class="vh-70 col-7">
      <div class="border bg-light"><h5>Current Semester Labs: {{ lab_total }}</h5></div>
      <div class="list-group overflow-auto h-60 bg-white" style="height:400px">
	{% if labs %}
	{% for lab in labs %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between gap-3 py-3" aria-current="True">
	  <!--*CODE*labs infor-->
	  <div class="text-center">{{ lab }}-{{ lab.section }} {{ lab.day }} {{ lab.time }}</div>
	  <div class="btn-group" role="group" aria-label="Lab Operations">
            <!--*CODE*Name of TA button-->
            <button type="button" class="btn btn-outline-secondary btn-sm" style="width:180px"><div class= "d-flex justify-content-start">
		{% if lab.assigned_ta %}
		{{ lab.assigned_ta }}
		{% else %}
		Unassigned
		{% endif %}
	    </div></button>
            <!--*CODE*Operation button-->
            <button type="button" class="btn btn-outline-secondary btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
		<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
	    </svg></button>
	  </div>
        </a>
	{% endfor %}
      </div>
      {% endif %}

      <div class="border bg-light mt-3"><h5>Change History</h5></div>
      <div class="list-group mx-0 overflow-auto h-60 bg-white" style = "height:150px">
        
        <a class="list-group-item list-group-item-action d-flex justify-content-start gap-3 py-3" aria-current="True">
	  <!--*CODE*Redo button-->
	  <button type="button" class="btn btn-outline-secondary btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
	      <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
	      <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
	  </svg></button>
	  <!--*CODE*Change history description-->
	  <div class="text-center d-flex p-2">Marisa --> Mike</div>
        </a>
        
        
      </div>
    </div>

    <div class="col">
      <div class="border bg-light"><h5>Switch Operations</h5></div>
      <div class="list-group mx-0 overflow-auto h-60 bg-white" style = "height:595px">

        <!--*CODE*a example of a Switch Operation-->
        <a class="list-group-item list-group-item-action d-flex flex-row gap-3 py-3" style = "height:80px" aria-current="True">
	  <!--*CODE*Score Indicator-->
	  <div class="text-center d-flex p-2 h4">5</div>
	  <!--*CODE*Operation Description-->
	  <div class="text-center d-flex p-2">James --> Mike</div>
        </a>

        <!--second example of a Switch Operation-->
        <a class="list-group-item list-group-item-action d-flex flex-row gap-3 py-3" style = "height:80px" aria-current="True">
	  <div class="text-center d-flex p-2 h4">4</div>
	  <div class="text-center d-flex p-2">Marisa --> Mike</div>
        </a>


      </div>
    </div>
  </div>
</main>

{% endblock %}
