{% extends 'laborganizer/base.html' %}
{% block title %}QuickSched: Dashboard{% endblock %}
{% load static %}

{% block content %}

{% if semesters %}
<div class="my-5 form-group" align="center">
  <form method="post" action="{% url 'lo_display_semester' %}">
    {% csrf_token %}
    <label for="semester_selection">Semester Selection:</label>
    <select class="my-2 form-select" style="width:20%" name="semester_selection" id="semester_selection">
    {% for semester in semesters %}
    <option value="{{ semester.semester_time }}{{ semester.year }}">{{ semester.semester_time }}{{ semester.year }}</option>
    {% endfor %}
    </select>
    <button class="btn btn-secondary">Select</button>
  </form>    
</div>
{% endif %}

{% if labs %}
<div class="container">

  <ul class="list-group">      
    {% for lab in labs %}
    <li class="list-group-item">{{ lab }}</li>
    {% endfor %}
  </ul>

</div>
{% else %}
No labs to display!
{% endif %}

{% if new_semester_form %}
<div class="my-5 form-group" align="center">
  <form method="post" action="{% url 'lo_new_semester' %}">
    {% csrf_token %}

    <h1>New Semester</h1>    
    {{ new_semester_form.as_p }}

    <button class="btn btn-secondary">Submit</button>
  </form>
</div>
{% endif %}


{% endblock %}
