{% extends 'laborganizer/base.html' %}
{% block title %}QuickSched: Dashboard{% endblock %}
{% load static %}

{% block content %}

{% if select_semester_form %}
<div class="my-5 form-group" align="center">
  <form method="post" action="{% url 'lo_display_semester' %}">
    {% csrf_token %}
    {{ select_semester_form.as_p }}
    <button class="btn btn-secondary">Select</button>
  </form>    
</div>
{% endif %}

{% if labs %}
<div class="container">

  <ul class="list-group">      
    {% for lab in labs %}
    <li class="list-group-item">{{ lab }}</li>
    {% endfor %}
  </ul>

</div>
{% else %}
No labs to display!
{% endif %}

{% if new_semester_form %}
<div class="my-5 form-group" align="center">
  <form method="post" action="{% url 'lo_new_semester' %}">
    {% csrf_token %}

    <h1>New Semester</h1>    
    {{ new_semester_form.as_p }}

    <button class="btn btn-secondary">Submit</button>
  </form>
</div>
{% endif %}


{% endblock %}
