{% extends 'laborganizer/base.html' %}
{% block title %}QuickSched: Dashboard{% endblock %}
{% load static %}

{% block content %}

{% if tas %}

<div class="my-4 container">
  <h1>TA Management</h1>  
  <ul class="list-group">
    {% for ta in tas %}  
    <li class="list-group-item">{{ ta.first_name }} {{ ta.last_name }}, {{ ta.year }}</li>
    {% endfor %}
  </ul>
</div>

{% else %}

<div class="">
  No TA's to display!
</div>

{% endif %}

<a href="{% url 'eu_upload' %}">button</a>

{% endblock %}
