<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QuickSched: TA Management</title>
    </head>
  <body>
    <div class="app">Hey there, you've reached the TA Management Section for the Lab Organizer. Check back later!</div>
    <a href="{% url 'lo_home' %}">Go Back</a>
    
    <!-- THIS BUTTON SHOULD BE IN THE NAVBAR, WHEN IT'S MADE -->
    <a href="{% url 'eu_upload' %}">Add New TA's</a>
    
    </body>
  </html>
