{% extends 'emailupload/base.html' %}
{% block title %}QuickSched: TA{% endblock %}
{% load static %}

{% block content %}

<h1>Upload email roster file</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input class="form-control" type="file" name="document">
    <button class="m-4 btn btn-primary" type="submit">Upload CSV File</button>
</form>
<a class="btn btn-secondary" href="{% url 'lo_ta_management' %}">Go Back</a>
<a class="btn btn-secondary" href="{% url 'lo_home' %}">Go Home</a>

{% endblock %}
