{% extends 'teachingassistant/base.html' %}
{% block title %}QuickSched: Dashboard{% endblock %}
{% load static %}

{% block content %}

<!-- Custom CSS -->
<link href="{% static 'teachingassistant/dashboard.css' %}" rel="stylesheet">

{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<!--Main page-->
<main class="container-lg">
  <div class="row">
    <div class="gx-3 col-md-9">
      <div class="h-80 border bg-light"><h5>Assigned Classes</h5></div>
      <div class="list-group overflow-auto">
        <a class="list-group-item list-group-item-action d-flex py-3" aria-current="True">
          <div class="w-20 justify-content-between">
	    <h6 class="mb-0 d-flex">CS 249-001</h6>
	    <p class="mb-0 d-flex opacity-75">TuTh 12:45pm-1:35pm</p>
          </div>
        </a>
        <a class="list-group-item list-group-item-action d-flex py-3" aria-current="True">
          <div class="w-20 justify-content-between">
	    <h6 class="mb-0 d-flex">CS 413-001</h6>
	    <p class="mb-0 d-flex opacity-75">TuTh 2:20pm-3:15pm</p>
          </div>
        </a>
        <a class="list-group-item list-group-item-action d-flex py-3" aria-current="True">
          <div class="w-20 justify-content-between">
	    <h6 class="mb-0 d-flex">MAT 449-006</h6>
	    <p class="mb-0 d-flex opacity-75">MoWeFr 11:00am-12:45pm</p>
          </div>
        </a>
        
      </div>
    </div>
    
    <div class="gx-3 col-sm-3">
      <div class="border bg-light"><h5>Holds</h5></div>
      <div class="text-start h-80 border bg-white p-2 ">
	{% for hold in holds %}
	<p><span class="badge bg-warning">required</span> {{ hold }}</p>
	{% endfor %}
        <p><span class="badge bg-warning">required</span> Incomplete Profile</p>
        <p><span class="badge bg-warning">required</span> Course Evaluation</p>
        <p><span class="badge bg-danger">critical</span> Update Personal Email</p>
        <p><span class="badge bg-success">good</span> No Holds</p>
      </div>
    </div>
  </div>

{% endblock %}  
