<!-- Tool Bar -->
<div
    class="m-0 p-0 bg-white d-flex justify-content-between align-items-center border-bottom w-100"
    style="min-height: 72px"
>

    <div class="container  fs-4">
	<div class="row">
	    <div class="col-6 text-start">
		{% if holds.incomplete_profile or not holds  %}
		Welcome!
		{% else %}
		Hello, {{ ta.first_name }}.
		{% endif %}
	    </div>
	    <div class="col-6 text-end">
		{% if holds.incomplete_profile %}
		<span class="badge bg-danger" date-toggle="tooltip" title="Head to the \'Account\' tab to complete your profile!">incomplete profile</span>
		{% endif %}

		{% if holds.update_availability %}
		<span class="badge bg-warning" date-toggle="tooltip" title="Head to the 'Account' tab to update your availability!">update availability</span>
		{% endif %}

		{% if holds.update_experience %}
		<span class="badge bg-warning" date-toggle="tooltip" title="Head to the 'Account' tab to update your experience!">update experience</span>
		{% endif %}
	    </div>
	</div>
    </div>

</div>
