{% extends 'teachingassistant/base.html' %}
{% block title %} {{ title_tag }} {% endblock %}
{% load static %}

{% block content %}


{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<div class="my-5 form-group" align="center">
  <form method="post">
    {% csrf_token %}

    <h1>Personal Information</h1>    
    {{ new_ta_form.as_p }}

    <h1>Availability</h1>
    {{ new_ta_availability_form.as_p }}

    <button class="btn btn-secondary">Submit</button>
  </form>
</div>

{% endblock %}
