{% extends 'teachingassistant/base.html' %}
{% block title %}QuickSched: Edit Account{% endblock %}
{% load static %}

{% block content %}

<!-- Bootstrap and  CSS -->
<link rel="stylesheet" href="{% static 'teachingassistant/dashboard.css' %}" />
<link rel="stylesheet" href="{% static 'teachingassistant/account.css' %}" />

<!-- Main content  -->
<main>
    
    {% include 'teachingassistant/sidebar.html' %}
    {% include 'teachingassistant/account/edit_info.html' %}

</main>

<!--Pop up windows codes-->

<!--Bootstrap set up -->
<script src="{% static 'teachingassistant/dashboard.js' %}"></script>
<script src="{% static 'teachingassistant/account.js' %}"></script>

{% endblock %}
